{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.login.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-6 offset-3 border border-2 border-dark rounded-2">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">{{ 'pages.login.h1'|trans }}</h1>
                    <label for="inputEmail">{{ 'entity.user.email'|trans }}</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">{{ 'entity.user.password'|trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="btn-group w-100 my-2">
                        <button class="btn btn-success" type="submit">
                            {{ 'common.link.connexion'|trans }}
                        </button>
                        <a class="btn btn-outline-primary" href="{{ path('app_register') }}">{{ "common.link.register"|trans }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
